@{
    Layout = null;
}
<head>
    <title>Admin Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/admindashboard.css" />

    <!-- Font Awesome (FOR ICONS) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body class="dashboard-body"> 

<div class="dashboard-container">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2 class="logo">GMC Event Wing</h2>

        <ul id="menu">
            <li class="active"><i class="fa fa-home"></i> Dashboard</li>
            <li><i class="fa fa-check-circle"></i> Approvals</li>
            <li><i class="fa fa-calendar"></i> Events</li>
            <li><i class="fa fa-users"></i> Users</li>
            <li><i class="fa fa-chart-bar"></i> Reports</li>
            <li><i class="fa fa-cog"></i> Settings</li>
            <li class="logout"><i class="fa fa-sign-out-alt"></i> Logout</li>
        </ul>
    </div>
    
    <div class="main-content">
        
        <div class="header">
            <h2>Welcome, Admin</h2>
            
            <div class="profile-section">
                <div class="notification" onclick="openNotification()">
                    <i class="fa fa-bell"></i>
                </div>
                <div class="clock" id="clock"></div>

                

            </div>
        </div>

        <!-- Cards -->
        <div class="cards">
            <div class="card">Total Events<br><strong>0</strong></div>
            <div class="card">Total Users<br><strong>0</strong></div>
            <div class="card">Pending Events<br><strong>0</strong></div>
            <div class="card">Upcoming Events<br><strong>0</strong></div>
        </div>

        <!-- Table -->
        <div class="table-section">
            <h3>Recent Activities</h3>
            <table>
                <tr>
                    <th>Event</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </table>
        </div>

    </div>
</div>

</body>

<script>
    function openNotification(){
        alert("No new notifications");
    }
    function updateTime() {
        const now = new Date();
        document.getElementById("clock").innerText =
            now.toLocaleTimeString();
    }

    const menuItems = document.querySelectorAll("#menu li");

    menuItems.forEach(item => {
        item.addEventListener("click", function () {

            // remove active from all
            menuItems.forEach(i => i.classList.remove("active"));

            // add active to clicked
            this.classList.add("active");
        });
    });
    setInterval(updateTime, 1000);
</script>