@{
    Layout = null;
}

<head>
    <title>Reset Password - CEMS</title>
    <link rel="stylesheet" href="~/css/loginpage.css" />
</head>

<body>

<div class="login-card">

        <h1>GMC Event Wing</h1>
        <br>
        <h3>Create a new password</h3>

        <form asp-action="ResetPassword" method="post">
            <input type="hidden" name="token" value="@Context.Request.Query["token"]" />
            
            <input name="password" type="password" placeholder="New Password" required/>

            <input name="confirmPassword" type="password" placeholder="Confirm Password" required/>

            <button type="submit" class="login-btn"> Reset Password </button>

        </form>

        <p class="link" onclick="window.location.href='/Login/LoginPage'"> Go back and login </p>
        
        @if (ViewBag.Error != null)
        {
            <p class="error-message">@ViewBag.Error</p>
        }
</div>

</body>