@{
    Layout = null;
}

<head>
    <title>Verify OTP - CEMS</title>
    <link rel="stylesheet" href="~/css/loginpage.css" />
</head>

<body>

<div class="login-card">

        <h1>GMC Event Wing</h1>
        <br>
        <h3>Verify your OTP</h3>

        <p class="info-text">
            Use the OTP sent to your email.
        </p>

        <form asp-action="VerifyOtp" method="post">

            <input name="code" placeholder="Enter OTP" required />
            
            <label for="rememberDevice" class="link">
                <input type="checkbox" name="rememberDevice" id="rememberDevice" value="true">
                Remember this Device
            </label>


            <button type="submit" class="login-btn"> Verify OTP </button>

        </form>

        <p class="link" onclick="window.location.href='/Login/LoginPage'"> Go back and login </p>
        
        @if (ViewBag.Error != null)
        {
            <p class="error-message">@ViewBag.Error</p>
        }
</div>

</body>