@{
    Layout = null;
}

<head>
    <title>Verify Reset Code - CEMS</title>
    <link rel="stylesheet" href="~/css/loginpage.css" />
</head>

<body>

<div class="login-card">

        <h1>GMC Event Wing</h1>
        <br>
        <h3>Verify your reset code</h3>

        <p class="info-text">
            Use the reset code sent to your email.
        </p>

        <form asp-action="VerifyResetCode" method="post">

            <input name="code" placeholder="Enter reset code" required />

            <button type="submit" class="login-btn"> Verify Code </button>

        </form>

        <p class="link" onclick="window.location.href='/Login/Index'"> Go back and login </p>
        
        @if (ViewBag.Error != null)
        {
            <p class="error-message">@ViewBag.Error</p>
        }
</div>

</body>